<% provide(:title, @user.name) %>
<% breadcrumb :profile_show, @user %>
<main>
  <div class="container col-xxl-10 px-4 py-3">
    <div class="mx-auto">
      <div class="row g-5 py-3 mb-5">
        <div class="col-lg-2 show-profile-image-wrapper">
          <%= image_tag @user.profile_image.url, class: 'profile-image' %>
        </div>
        <div class="col-lg-10">
          <div class="show-profile-name-wrapper row">
            <div class="col-sm-4">
              <span class="show-profile-name"><%= @user.name %></span>
            </div>
            <% if @user == current_user %>
              <div class="col-sm-8">
                <span><%= link_to "プロフィール編集", edit_profile_path, class: "btn btn-primary btn--extend show-edit-profile-btn", data: { turbo: false } %></span>
                <span><%= link_to "設定", edit_user_registration_path, class: "btn btn-primary btn--extend show-edit-registration-btn" %></span>
              </div>
            <% end %>
          </div>
          <p class="show-profile-comment"><%= @user.comment %></p>
        </div>
      </div>
      <div class="row g-5 py-3">
        <div class="col-lg-6">
          <p>ブックマーク一覧</p>
          <% @bookmarks.each_with_index do |bookmark, i| %>
            <div>
              <%= link_to walking_route_path(bookmark.walking_route), data: { turbo: false }, class: "bookmarked-walking-route-name-#{i}" do %>
                <%= bookmark.walking_route.name %>
              <% end %>
            </div>
          <% end %>
        </div>
        <div class="col-lg-6">
          <p>作成した散歩ルート一覧</p>
          <% @walking_routes.each_with_index do |walking_route, i| %>
            <div>
              <%= link_to walking_route_path(walking_route), data: { turbo: false }, class: "created-walking-route-name-#{i}" do %>
                <%= walking_route.name %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</main>
