<% provide(:title, "散歩ルート一覧") %>
<% breadcrumb :walking_route_index %>
<div class="py-5">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <% @walking_routes.each do |walking_route| %>
        <% if walking_route.user %>
          <div class="col">
            <div class="card shadow-sm">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">popular-route</text></svg>
              <div class="card-body">
                <div class="mb-2">
                  <%= link_to profile_path(walking_route.user), class: "index-profile-link" do %>
                    <div class="index-profile-wrapper d-flex justify-content-start align-items-center">
                      <div class="index-profile-image-wrapper">
                        <%= image_tag walking_route.user.profile_image.url, class: 'index-profile-image' %>
                      </div>
                      <div class="index-profile-name">
                        <%= walking_route.user.name %>
                      </div>
                    </div>
                  <% end %>
                </div>
                <h5 class="card-title card-title--extend">
                  <%= link_to "#{walking_route.name}", walking_route_path(walking_route), class:"index-walking-route-name", data: { turbo: false } %>
                </h5>
                <div class="d-flex justify-content-start align-items-center mb-2">
                  <div class="d-flex flex-row align-items-center">
                    <% if current_user.bookmarked?(walking_route.bookmarks, current_user.id) %>
                      <%= button_to walking_route_bookmarks_path(walking_route), class: "btn index-bookmark-btn already-bookmark-btn", method: :delete, data: { turbo: false } do %>
                        <i id="already-bookmarked-icon" class="fa-solid fa-heart"></i>
                      <% end %>
                    <% else %>
                      <%= button_to walking_route_bookmarks_path(walking_route), class: "btn index-bookmark-btn not-yet-bookmark-btn", method: :post, data: { turbo: false } do %>
                        <i id="not-yet-bookmarked-icon" class="fa-regular fa-heart"></i>
                      <% end %>
                    <% end %>
                    <span class="bookmark-btn bookmark-count"><%= walking_route.bookmarks_count(walking_route.bookmarks) %></span>
                  </div>
                  <% if walking_route.user == current_user %>
                    <div class="dropdown">
                      <a class="btn btn-primary btn--extend dropdown-toggle index-dropdown-btn" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa-regular fa-pen-to-square"></i>
                      </a>
                      <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <li>
                          <%= link_to "編集", edit_walking_route_path(walking_route), class: "dropdown-item", data: { turbo: false } %>
                        </li>
                        <li>
                          <%= button_to "削除", walking_route_path(walking_route), id: "delete-walking-route-btn", class: "dropdown-item", method: :delete, data: { turbo: false }, onclick: "return walking_route_delete_check_form()" %>
                        </li>
                      </ul>
                    </div>
                  <% end %>
                </div>
                <div class="index-route-info-wrapper mb-1">
                  <div class="index-start-address-label">出発地</div>
                  <div id="index-start-address"><%= walking_route.start_address %></div>
                </div>
                <div class="index-route-info-wrapper mb-1">
                  <span class="index-total-distance-label">距離</span>
                  <span id="index-total-distance"><%= "#{walking_route.distance.to_s}km" %></span>
                </div>
                <div class="index-route-info-wrapper mb-1">
                  <span class="index-total-duration-label">時間</span>
                  <span id="index-total-duration" class="total-duration-style"><%= "#{walking_route.duration.to_s}分" %></span>
                </div>
                <div class="text-muted created-at index-created-at"><%= l walking_route.created_at %></div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
