<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" aria-label="Eighth navbar example">
    <div class="container">
      <%= link_to "Walk break", walking_routes_path, class: "navbar-brand" %>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbars" aria-controls="navbars" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbars">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#">散歩ルート一覧</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">about</a>
          </li>
          <% if user_signed_in? %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="dropdown" data-bs-toggle="dropdown" aria-expanded="false">アカウント</a>
              <ul class="dropdown-menu" aria-labelledby="dropdown">
                <li><a class="dropdown-item" href="#">プロフィール</a></li>
                <li>
                  <%= link_to "散歩ルート作成", new_walking_route_path, class: "dropdown-item", data: { turbo: false } %>
                </li>
                <a class="dropdown-item" aria-current="page" href="#">設定</a>
                <li><%= link_to "ログアウト", destroy_user_session_path, class: "dropdown-item", method: :delete %></li>
                <li><%= link_to "退会", users_withdrawal_path, class: "dropdown-item", method: :patch, data: { "turbo-method": :patch, turbo_confirm: "本当に退会しますか？" } %></li>
              </ul>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to "ログイン", new_user_session_path, class: "nav-link", tabindex: "-1", 'aria-disabled': :true %>
            </li>
            <li class="nav-item">
              <%= link_to "新規登録", new_user_registration_path, class: "nav-link", tabindex: "-1", 'aria-disabled': :true %>
            </li>
          <% end %>
        </ul>
        <form>
          <input class="form-control index-search-form" type="text" placeholder="キーワードで探す" aria-label="キーワードで探す">
        </form>
      </div>
    </div>
  </nav>
</header>
